<div class="container-fluid">
    <h2>Upload a csv file with information about 2D slices and their location in the filesystem</h2>
    <br />
    <br />
    <form>
        <div class="form-group">
            <label for="csv-data">CSV Meta-information File</label>
            <input id="csv-data" type="file" class="form-control" (change)="fileChange($event)" />
        </div>
        <div class="form-group">
            <label for="folder">Folder containing slice images</label>
            <input id="folder" multiple type="file" class="form-control" (change)="folderChange($event)" />
        </div>
        <button class="btn btn-primary" type="submit" (click)="upload()" [disabled]="disabled">Upload</button>
        <a href="/" class="btn btn-warning">Go back to application</a>
    </form>
</div>