<div class="container-fluid">
    <h2>Upload a csv file with information about Wells and the well log location in the filesystem</h2>
    <br />
    <br />
    <form>
        <div class="form-group">
            <label for="csv-data">CSV Meta-information File</label>
            <input id="csv-data" type="file" class="form-control" (change)="fileChange($event)" />
        </div>
        <div class="form-group">
            <multipleFileReader [disabled]="rms_disabled" (complete)="complete($event)" (error)="error($event)"></multipleFileReader>
        </div>
        <button class="btn btn-primary" type="submit" (click)="upload()" [disabled]="disabled">Upload</button>
        <a href="/" class="btn btn-warning">Go back to application</a>
    </form>
</div>