<div class="settings-element">
    <div class="settings-element-header" (click)="toggle()">
        
        <h3>BVH Terrain Settings
            <i class="toggle-div fa" [class.fa-minus]="maximized" [class.fa-plus]="!maximized"></i>
        </h3>
    </div>
    <div class="settings-element-content" *ngIf="maximized">
        <!--<label class="row">
                <span class="col-md-6">Max width:</span> 
                <input 
                    class="col-md-6"
                    type="number" 
                    [(ngModel)]="settings.maxWidth" 
                    (click)="change($event)" />
            </label>

        <label class="row">
               <span class="col-md-6">Min width:</span>
                <input 
                    class="col-md-6"
                    type="number" 
                    [(ngModel)]="settings.minWidth" 
                    (click)="change($event)" />
            </label>-->

        <div class="row settings-row-item">
            <div class="input-group">
                <label class="input-group-addon bvhsettingslabel">Interaction depth:</label>
                <input 
                    class="form-control"
                    type="number" 
                    [(ngModel)]="settings.interactionDepth" 
                    (click)="change($event)" />
            </div>
        </div>

        <div class="row settings-row-item">
            <div class="input-group">
                <label class="input-group-addon bvhsettingslabel">Smooth loading:</label>
                <input 
                    class="form-control"
                    type="number" 
                    [(ngModel)]="settings.smoothLoading" 
                    (click)="change($event)" />
            </div>
        </div>

        <!--<label class="row input-group">
                <span class="col-md-6">Subdivision:</span>
                <input 
                    class="col-md-6"
                    type="text" 
                    [(ngModel)]="settings.subdivision" 
                    (click)="change($event)" />
            </label>

        <label class="row">
                <span class="col-md-6">Size:</span>
                <input 
                    class="col-md-6"
                    type="text" 
                    [(ngModel)]="settings.size" 
                    (click)="change($event)" />
            </label>-->

        <div class="row settings-row-item">
            <div class="input-group">
                <label class="input-group-addon bvhsettingslabel">Factor:</label>
                <input 
                    class="form-control"
                    type="number" 
                    [(ngModel)]="settings.factor" 
                    (click)="change($event)" />
            </div>
        </div>

       <!-- <label class="row">
                <span class="col-md-6">Max elevation:</span>
                <input 
                    class="col-md-6"
                    type="number" 
                    [(ngModel)]="settings.maxElevation" 
                    (click)="change($event)" />
            </label>-->

        <!--<label class="row">
                <span class="col-md-6">Elevation url:</span>
                <input 
                    class="col-md-6"
                    type="text" 
                    [(ngModel)]="settings.elevationUrl" 
                    (click)="change($event)" />
            </label>

        <label class="row">
                <span class="col-md-6">Texture url:</span>
                <input 
                    class="col-md-6"
                    type="text" 
                    [(ngModel)]="settings.textureUrl" 
                    (click)="change($event)" />
            </label>

        <label class="row">
                <span class="col-md-6">Normal url:</span>
                <input 
                    class="col-md-6"
                    type="text" 
                    [(ngModel)]="settings.normalUrl" 
                    (click)="change($event)" />
            </label>

        <label class="row">
                <span class="col-md-6">Elevation format:</span>
                <input 
                    class="col-md-6"
                    type="text" 
                    [(ngModel)]="settings.elevationFormat" 
                    (click)="change($event)" />
            </label>

        <label class="row">
                <span class="col-md-6">Texture format:</span>
                <input 
                    class="col-md-6"
                    type="text" 
                    [(ngModel)]="settings.textureFormat" 
                    (click)="change($event)" />
            </label>

        <label class="row">
                <span class="col-md-6">Normal format:</span>
                <input 
                    class="col-md-6"
                    type="text" 
                    [(ngModel)]="settings.normalFormat" 
                    (click)="change($event)" />
            </label>

        <label class="row">
                <span class="col-md-6">Mode:</span>
                <input 
                    class="col-md-6"
                    type="text" 
                    [(ngModel)]="settings.mode" 
                    (click)="change($event)" />
            </label>-->
    </div>
</div>