body {
    background-color: lightblue;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.toggle-div {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #FFFFFF !important;
}

.settings-element {
    position: relative;
    width: 100%;
    left: 0;
    margin-bottom: 0.2em;
}

.settings-element-header {
    padding: 0.6em;
    background-color: #2255FF;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px !important;
}

.settings-element-header > h3{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px !important;
}

.settings-element-content {
    background-color: #FFFFFF;
    padding: 0.6em;
    max-height:250px;
    overflow-y: scroll;
}

.settings-element.clickable:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px #C6C6C6;
}

.form-control.ng-touched.ng-invalid {
    border: 1px solid red;
}

.settings-row-item {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

label.bvhsettingslabel {
    width: 60%;
}