<div>
    <div class="sidebar_toggler" (click)="toggle()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="sidebar container-fluid" *ngIf="show">

        <div class="row">
            <bvhRefinerSettings style="width:100%; height:100%;"></bvhRefinerSettings>
        </div>
        <div style="cursor:pointer" class="row" onclick="window.location='/csv_uploader'">
            <div class="settings-element clickable">
                <div class="settings-element-header">
                    <h3>
                        Upload slice data
                    </h3>
                </div>
            </div>
        </div>
        <div style="cursor:pointer" class="row" onclick="window.location='/well_uploader'">
            <div class="settings-element clickable">
                <div class="settings-element-header">
                    <h3>
                        Upload well data
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <slice-toggler></slice-toggler>
        </div>

    </div>
</div>